/*IMPORTANDO FONT*/
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "TitilliumWeb";
    src: url(../fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
}

/* RETIRANDO AS MARGINS E BORDA DO NAVEGADOR*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  RESET NAVEGADOR*/

body {
    font-family: "Roboto-Regular";

}

/* INICIO CSS CABECALHO */
.cabecalho {
    background-color: #1E1C21;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-grid {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-principal {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menu-principal a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 15px 20px 15px;

}

/* FIM CSS CEBECALHO*/

/* ******* INICIO BANNER CSS  MAIN*************/


.banner {
    width: 100%;
    height: 610px;
    background-color: #C31616;
    background-image: url(../img/banner_pilotos.png);
    background-repeat: no-repeat;

}

.banner-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;


}

.banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    width: auto;
    height: auto;
    margin-top: -120px
}

.banner-info h2 {
    margin-top: 70px;
    font-family: "TitilliumWeb";
    font-size: 55px;
    text-align: center;
    margin-top: 20px;

}

.banner-info p {
    font-size: "Roboto-Medium";
    text-align: center;
    font-size: 24px;
    margin-top: auto;
}

.banner-info a {

    color: white;
    font-size: 19px;
    background-color: #C31616;
    display: flex;

    height: 45px;
    border-radius: 10px;
    margin-inline: 130px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;

}

/* FIM BANNER */

/* INICIO PATROCINIO */
.jogos {
    background-color: #1E1C21;

}

.jogos-patrocinio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

/* FIM PATROCIONIO */

/* INICIO PRODUTOS (BOOTSTRAP) */
.produtos {
    background: #1E1C21;
    padding-top: 30px;
    padding-bottom: 30px;

}


.container {
    max-width: 1200px;


}

.card {
    background: #1E1C21;
    max-width: 250px;
    margin-top: 20px;
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to bottom, #444444, #1E1C21);
    font-size: 1.3rem;
    box-shadow: 10px 10px 8px black;

}

.card .btn {

    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    border-radius: 10px;
}

.card-title {
    font-family: "TitilliumWeb";
    font-size: 1.4rem;
    text-transform: uppercase;

}

.card-price {
    font-family: "TitilliumWeb";
    font-size: 2.4rem;


}

.ofertas {
    color: white;
    font-size: "Roboto-Medium";
    font-size: 24px;

}


/* FIM DOS PRODUTOS (BOOTSTRAP) */

/* INICIO  SEGUNDO BANNER  */

.banner-segundo-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%


}

.banner-segundo {
    width: 100%;
    height: 100%;
    background: black;
    background-image: url(../img/fundo-sobre.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


.banner-dois-info {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    color: white;
    margin-left: 8%;


}



.banner-dois-info h2 {
    font-family: "TitilliumWeb";
    font-size: 30px;
    margin-left: 10%;
    margin-top: 20px;


}


.heroi {
    max-width: 450px;


}


/* SEGUNDO BANNER  */

/* INICIO RODAPE/FOOTER */

.rodape {
    width: 100%;
    height: 300px;
    background: black;

}

.links {
    width: 40%;
    height: auto;
    align-items: center;

}

.links h2 {
    font-family: "TitilliumWeb";
    font-size: 30px;
    margin-left: 10%;
    margin-top: 20px;
    color: white;


}



.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    


}

.links-uteis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    color: white;
    decoration: none;
    font-size: 14px;
}


.nav li {
    list-style-type: disc;
    color: white;
    decoration: none;
    font-size: 14px;

}

.dados-contatos{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
    
.dados-contatos{
    display: flex;
    justify-content: space-between;

}
   /* FIM RODAPE/FOOTER */

      /* INICIO MIDIA SCREEN PATROCINIO */

   @media screen and (max-width: 767px) {
       .jogos {
           display: none;
        }
    }
     









    
        
    @media screen and (max-width: 767px) {
        .heroi {
            display: none;
        }
    }
    
    
    /* FIM MIDIA SCREEN SEGUNDO BANNER */